---
title: CCC Instructors Guide
layout: interactive-tool
ogTitle: Crypto Curious Teacher's Guide
ogImage: assets/img/CCC_Title.jpeg
ogDesc: Become a blockchain ambassador today!
---
<div id="toc-container" class="modal tableOfContents">
    <span onclick="tocToggle()" class="toggleButton">✕</span>
    <h2>Table of Contents</h2>
    <ol id="toc">{% for slide in site.slides %}{% if slide.isSectionHead == true or slide.type == 'title-break' %}<li id="toc_{{ slide.slideId }}" class="section"><a onclick="showSlide('{{ slide.slideId }}')">{{ slide.title }}</a></li>{% elsif slide.isQuestionSlide == true  or slide.type == 'prompt-question' %}<li id="toc_{{ slide.slideId }}" class="question-slide"><a onclick="showSlide('{{ slide.slideId }}')">{{ slide.title }}</a></li>{% elsif slide.type == 'example' %}<li class="example" id="toc_{{ slide.slideId }}"><a onclick="showSlide('{{ slide.slideId }}')">Example: {{ slide.title }}</a></li>{% else %}<li id="toc_{{ slide.slideId }}"><a onclick="showSlide('{{ slide.slideId }}')">{{ slide.title }}</a></li>{% endif %}{% endfor %}
    </ol>
</div>
<div id="notes-container" class="modal notes">
    <span onclick="notesToggle()" class="toggleButton">✕</span>
    <div id="notes-body" class="notesBody">

    </div>
</div>

<div class="controlBar">
    <ul>
        <li onclick="lastSlide()"> < </li>
        <li onclick="tocToggle()">Slides</li>
        <li onclick="presentationToggle()">Present</li>
        <li onclick="notesToggle()">Notes</li>
        <li onclick="nextSlide()"> > </li>
    </ul>
</div>

<div class="slideBody" id="slideBody" onclick="nextSlide()">
    {% for slide in site.slides %}
        {% if slide.type == "title-break" %}
            {% include title-break.html 
                slideId=slide.slideId
                title=slide.title
                notes=slide.notes
            %}
        {% elsif slide.type == "full-image" %}
            {% include full-image-slide.html 
                slideId=slide.slideId
                img=slide.img
                imgAlt=slide.imgAlt
                imgTitle=slide.imgTitle
                imgCaption=slide.imgCaption
                title=slide.title
                notes=slide.notes
            %}    
        {% elsif slide.type == "full-text" %} 
            {% include full-text-slide.html 
                slideId=slide.slideId
                title=slide.title
                content=slide.bodyText
                notes=slide.notes
            %}
        {% elsif slide.type == "example" %}
            {% include example.html 
                slideId=slide.slideId
                title=slide.title
                goal=slide.goal
                content=slide.details
            %}        
        {% elsif slide.type == "left-right" %} 
            {% include leftRightSlide.html 
                slideId=slide.slideId
                title=slide.title
                content=slide.bodyText
                notes=slide.notes
                img=slide.img
                imgAlt=slide.imgAlt
                imgTitle=slide.imgTitle
                imgCaption=slide.imgCaption
            %}   
        {% elsif slide.type == "top-bottom" %} 
            {% include top-bottom-slide.html 
                slideId=slide.slideId
                title=slide.title
                content=slide.bodyText
                notes=slide.notes
                img=slide.img
                imgAlt=slide.imgAlt
                imgTitle=slide.imgTitle
                imgCaption=slide.imgCaption            
            %}    
        {% elsif slide.type == "prompt-question" %} 
            {% include question-prompt-slide.html 
                slideId=slide.slideId
                title=slide.title
                notes=slide.notes
            %}
        {% elsif slide.type == "custom" %} 
            {% include custom-slide.html 
                slideId=slide.slideId
                title=slide.title
                notes=slide.notes
                content=slide.body
            %}                                   
        {% elsif slide.type == "default" %} 
            {% include defaultSlide.html 
                slideId=slide.slideId
                title=slide.title
                img=slide.img
                imgAlt=slide.imgAlt
                imgCaption=slide.imgCaption
                imgTitle=slide.imgTitle
                notes=slide.notes
                content=slide.body
            %} 
        {% endif %}

    {% endfor %}
</div>

<script>
    async function showSlide (slideId) {
        // console.log('displaying slide', slideId)
        await hideShownSlides () 

        document.getElementById(slideId).className += ' shown'
        populateNotes(slideId)

        await hideTocHighlight () 

        document.getElementById("toc_" + slideId).className += ' tocHighlight'  

        scrollTocToView('toc_' + slideId);

    }

    async function hideShownSlides ( ) {
        for (slide of document.getElementsByClassName('shown')){
            // console.log('hiding slide', slide)
            slide.className = slide.className.replace('shown','')
        }
        return 
    }

    function scrollTocToView ( id ) {
        document.getElementById('toc-container').scrollTop = document.getElementById(id).offsetTop - ( document.getElementById('toc-container').offsetHeight / 2);


    }

    async function hideTocHighlight ( ) {
        for (li of document.getElementsByClassName('tocHighlight')){
            // console.log('hiding tocHighlight', li)
            li.className = li.className.replace('tocHighlight','')
        }
        return 
    }    

    showSlide('title-slide');

    window.notes = { 
        {% for slide in site.slides %}'{{ slide.slideId }}' : `{{ slide.notes }}`,{% endfor %}
        }
    console.log('notes are ', window.notes)

    function populateNotes ( slideId ) {
        // console.log('found notes', window.notes[slideId])
        document.getElementById('notes-body').innerHTML = window.notes[slideId]
    }

    function notesToggle () {
        toggleElement('notes-container')
    } 

    function tocToggle () {
        toggleElement('toc-container')
    }

    function toggleElement ( elementId ) {
        // console.log('toggling', elementId)
        if ( document.getElementById( elementId ).className.includes('hidden') ) {
            document.getElementById( elementId ).className = document.getElementById( elementId ).className.replace('hidden', '')
        } else {
            document.getElementById( elementId ).className += ' hidden'
        }
    }

    function nextSlide ( ) {

        var currentSlide = document.getElementsByClassName('shown')[0].id;
        var next = 0

        for ( slide of document.getElementsByTagName('article') ) {
            if ( next > 0 ) {
                return showSlide (slide.id)
            }
            if ( slide.id === currentSlide ) {
                next = 1
            }
        }   
        return false;

    }

    function lastSlide ( ) {
        
        var currentSlide = document.getElementsByClassName('shown')[0].id;

        if ( currentSlide != 'title-slide' ) {
            var lastSlide = null;   

            for ( slide of document.getElementsByTagName('article') ) {
                if ( slide.id === currentSlide ) {
                    return showSlide(lastSlide)
                }
                lastSlide = slide.id
            }   
            return false;
        } else {
            return false;
        }

    }    
    
    // Arrow key config
    document.onkeydown = checkKey;

    function checkKey(e) {

        e = e || window.event;

        if (e.keyCode == '38') {
            tocToggle () 
        }
        else if (e.keyCode == '40') {
            notesToggle () 
        }
        if (e.keyCode == '37') {
            lastSlide () 
        }
        else if (e.keyCode == '39') {
            nextSlide () 
        }

    }


    async function presentationToggle () {
        // await openFullscreen();

        await openNotes ();


    }

    async function openNotes () {
        var myWindow = await window.open("presenter-notes.html", "", "toolbar=no,menubar=no,width=600,height=500");
        // myWindow.document.write("<p>This is 'MsgWindow'. I am 200px wide and 100px tall!</p>");
        
        message_broadcast ({
            currentSlide : 'title-slide'
        })

        return
    }

    async function openFullscreen() {
        var elem = document.getElementById('slideBody')

        if (elem.requestFullscreen) {
            return elem.requestFullscreen();
        } else if (elem.mozRequestFullScreen) { /* Firefox */
            return  elem.mozRequestFullScreen();
        } else if (elem.webkitRequestFullscreen) { /* Chrome, Safari and Opera */
            return elem.webkitRequestFullscreen();
        } else if (elem.msRequestFullscreen) { /* IE/Edge */
            return elem.msRequestFullscreen();
        } else {
            return false;
        }

    }
</script>