---
title: CCC Instructors Guide
layout: interactive-tool
ogTitle: Crypto Curious Teacher's Guide
ogImage: assets/img/CCC_Title.jpeg
ogDesc: Become a blockchain ambassador today!
---
<div id="toc-container" class="modal tableOfContents hidden">
    <span onclick="tocToggle()" class="toggleButton">✕</span>
    <h2>Table of Contents</h2>
    <ol id="toc">{% for slide in site.slides %}{% if slide.isSectionHead == true or slide.type == 'title-break' %}<li id="toc_{{ slide.slideId }}" class="section"><a onclick="showSlide('{{ slide.slideId }}')">{{ slide.title }}</a></li>{% elsif slide.isQuestionSlide == true  or slide.type == 'prompt-question' %}<li id="toc_{{ slide.slideId }}" class="question-slide"><a onclick="showSlide('{{ slide.slideId }}')">{{ slide.title }}</a></li>{% elsif slide.type == 'example' %}<li class="example" id="toc_{{ slide.slideId }}"><a onclick="showSlide('{{ slide.slideId }}')">Example: {{ slide.title }}</a></li>{% else %}<li id="toc_{{ slide.slideId }}"><a onclick="showSlide('{{ slide.slideId }}')">{{ slide.title }}</a></li>{% endif %}{% endfor %}
    </ol>
</div>
<div id="notes-container" class="modal notes hidden">
    <span onclick="notesToggle()" class="toggleButton">✕</span>
    <div id="notes-body" class="notesBody">

    </div>
</div>

<div class="controlBar">
    <ul>
        <li onclick="lastSlide()"><i class="fas fa-chevron-left"></i></li>
        <li onclick="tocToggle()"><i class="fas fa-bars"></i></li>
        <li onclick="presentationToggle()"><i class="fas fa-external-link-alt"></i></li>
        <li onclick="infoToggle()"><i class="fas fa-info-circle"></i></li>
        <li onclick="openFullscreen()"><i class="fas fa-expand"></i></li>
        <li onclick="notesToggle()"><i class="far fa-clipboard"></i></li>
        <li onclick="nextSlide()"><i class="fas fa-chevron-right"></i></li>
    </ul>
</div>

<div id="info" class="info hidden">
    <span onclick="infoToggle()" class="toggleButton">✕</span>
    <h1>Crypto Curious Course</h1>
    <p class="author">Blockchain Institute <br> June 2020</p>
    <div class="abstract">
        <h4>A comprehensive guide to teaching Crypto Curious Course</h4>
        <p>This guide will give you a rundown on the basics of cryptocurrency and blockchain with the aim of getting you comfortable with cryptocurrencies and blockchain technology. Before going over the specifics you will take a look at the context in which Bitcoin was launched into the world.</p>
    </div>
    <div id="housekeeping">
        <h5>Housekeeping</h5>
        <div>
            <p>This course is 2-3 hours long. Breaks may be helpful for discussion, but the content has been disnged to hold questions until the end.<p>
            </p>
            <ul>
                <li>You are free to:</li>
                <ul>
                    <li>Copy and redistributed the material in any medium or format</li>
                    <li>Remix, transform, and build upon the material for any purpose</li>
                </ul>
            </ul>
            <ul>
                <li>Provided:</li>
                <ul>
                    <li>You give appropriate credit</li>
                    <li>Provide a link to the licence</li>
                    <li>Indicate if changes were made</li>
                </ul>
            </ul>

            {% include feedbackCallToAction.html %}
            <!-- <figure><img alt="Blockchain Institute" src="assets/img/housekeeping.jpg" alt=""></figure> -->
        </div>
    </div>
    <div id="blockchain-institute">
        <h5>About Blockchain Institute</h5>
        <p><a href="https://weteachblockchain.org/" target="_blank">Blockchain Institute</a> is a United States 501(c)(3) non-profit charity whose mandate is to provide education to the public </p>
        <img alt="" src="assets/img/heart.black.png" alt="" width="35">
        <ul>
            <li>The content is released under <a href="#license">CC BY 4.0</a></li>
            <li>Follow us on social media!</li>
            <ul>
                <li>Twitter: <a href="https://twitter.com/bchaininstitute" target="_blank">@bchaininstitute</a></li>
                <li>Facebook: <a href="https://www.facebook.com/TheBlockchainInstitute/" target="_blank">theblockchaininstitute</a></li>
                <li>Instagram: <a href="https://www.instagram.com/theblockchaininstitute/" target="_blank">theblockchaininstitute</a></li>
            </ul>

        </ul>
    </div>
</div>
<div class="slideBody" id="slideBody" onclick="nextSlide()">
    {% for slide in site.slides %}
        {% if slide.type == "title-break" %}
            {% include title-break.html 
                slideId=slide.slideId
                title=slide.title
                notes=slide.notes
            %}
        {% elsif slide.type == "full-image" %}
            {% include full-image-slide.html 
                slideId=slide.slideId
                img=slide.img
                imgAlt=slide.imgAlt
                imgTitle=slide.imgTitle
                imgCaption=slide.imgCaption
                title=slide.title
                notes=slide.notes
            %}    
        {% elsif slide.type == "full-text" %} 
            {% include full-text-slide.html 
                slideId=slide.slideId
                title=slide.title
                content=slide.bodyText
                notes=slide.notes
            %}
        {% elsif slide.type == "example" %}
            {% include example.html 
                slideId=slide.slideId
                title=slide.title
                goal=slide.goal
                content=slide.details
            %}        
        {% elsif slide.type == "left-right" %} 
            {% include leftRightSlide.html 
                slideId=slide.slideId
                title=slide.title
                content=slide.bodyText
                notes=slide.notes
                img=slide.img
                imgAlt=slide.imgAlt
                imgTitle=slide.imgTitle
                imgCaption=slide.imgCaption
            %}   
        {% elsif slide.type == "top-bottom" %} 
            {% include top-bottom-slide.html 
                slideId=slide.slideId
                title=slide.title
                content=slide.bodyText
                notes=slide.notes
                img=slide.img
                imgAlt=slide.imgAlt
                imgTitle=slide.imgTitle
                imgCaption=slide.imgCaption            
            %}    
        {% elsif slide.type == "prompt-question" %} 
            {% include question-prompt-slide.html 
                slideId=slide.slideId
                title=slide.title
                notes=slide.notes
            %}
        {% elsif slide.type == "custom" %} 
            {% include custom-slide.html 
                slideId=slide.slideId
                title=slide.title
                notes=slide.notes
                content=slide.body
            %}                                   
        {% elsif slide.type == "default" %} 
            {% include defaultSlide.html 
                slideId=slide.slideId
                title=slide.title
                img=slide.img
                imgAlt=slide.imgAlt
                imgCaption=slide.imgCaption
                imgTitle=slide.imgTitle
                notes=slide.notes
                content=slide.body
            %} 
        {% endif %}

    {% endfor %}
</div>

<script>
    async function showSlide (slideId) {
        // console.log('displaying slide', slideId)
        await hideShownSlides () 

        document.getElementById(slideId).className += ' shown'
        populateNotes(slideId)
        setCurrentSlide(slideId)
        reloadPresenterNotes()

        await hideTocHighlight () 

        document.getElementById("toc_" + slideId).className += ' tocHighlight'  

        scrollTocToView('toc_' + slideId);

    }

    async function hideShownSlides ( ) {
        for (slide of document.getElementsByClassName('shown')){
            // console.log('hiding slide', slide)
            slide.className = slide.className.replace('shown','')
        }
        return 
    }

    function scrollTocToView ( id ) {
        document.getElementById('toc-container').scrollTop = document.getElementById(id).offsetTop - ( document.getElementById('toc-container').offsetHeight / 2);
        message_broadcast({ trigger: 'tocUpdate' })
    }

    async function hideTocHighlight ( ) {
        for (li of document.getElementsByClassName('tocHighlight')){
            // console.log('hiding tocHighlight', li)
            li.className = li.className.replace('tocHighlight','')
        }
        return 
    }    

    showSlide('title-slide');

    window.notes = { 
        {% for slide in site.slides %}'{{ slide.slideId }}' : `{{ slide.notes }}`,{% endfor %}
        }
    localStorage.setItem('notes', JSON.stringify(window.notes) )
    console.log('notes are ', window.notes)

    function populateNotes ( slideId ) {
        // console.log('found notes', window.notes[slideId])
        document.getElementById('notes-body').innerHTML = window.notes[slideId]
    }

    function infoToggle () {
        toggleElement('info')
    } 

    function notesToggle () {
        toggleElement('notes-container')
    } 

    function tocToggle () {
        toggleElement('toc-container')
    }

    function toggleElement ( elementId ) {
        // console.log('toggling', elementId)
        if ( document.getElementById( elementId ).className.includes('hidden') ) {
            document.getElementById( elementId ).className = document.getElementById( elementId ).className.replace('hidden', '')
        } else {
            document.getElementById( elementId ).className += ' hidden'
        }
    }

    function nextSlide ( ) {

        var currentSlide = document.getElementsByClassName('shown')[0].id;
        var next = 0

        for ( slide of document.getElementsByTagName('article') ) {
            if ( next > 0 ) {
                return showSlide (slide.id)
            }
            if ( slide.id === currentSlide ) {
                next = 1
            }
        }   
        return false;

    }

    function lastSlide ( ) {
        
        var currentSlide = document.getElementsByClassName('shown')[0].id;

        if ( currentSlide != 'title-slide' ) {
            var lastSlide = null;   

            for ( slide of document.getElementsByTagName('article') ) {
                if ( slide.id === currentSlide ) {
                    return showSlide(lastSlide)
                }
                lastSlide = slide.id
            }   
            return false;
        } else {
            return false;
        }

    }    
    
    // Arrow key config
    document.onkeydown = checkKey;

    function checkKey(e) {

        e = e || window.event;

        console.log('key press', e.keyCode)

        if (e.keyCode == '38') {
            tocToggle () 
        } else if (e.keyCode == '40') {
            notesToggle () 
        } else if (e.keyCode == '37') {
            lastSlide () 
        } else if (e.keyCode == '39') {
            nextSlide () 
        } else if (e.keyCode == '32') {
            openFullscreen () 
        } else if (e.keyCode == '80') {
            openNotes()
        }

    }


    async function presentationToggle () {

        await openNotes ();

    }

    function reloadPresenterNotes ( ) {
        message_broadcast ({
            trigger : 'loadNotes'
        })
    }

    function setCurrentSlide ( slideId ) {
        localStorage.setItem('currentSlide', slideId);
    }

    async function openNotes () {
        window.presentation = true;

        await window.open("presenter-notes.html", "", "toolbar=no,menubar=no,width=600,height=500");
        
        message_broadcast ({
            trigger : 'loadNotes'
        })

        return
    }
    window.onMessageEvent = function ( ev ) {
        console.log('handling event', ev)
        if ( event.data.trigger === "nextSlide" ) {
            nextSlide()
        } else if ( event.data.trigger === "lastSlide" ) {
            lastSlide()
        } else if ( event.data.trigger === "showSlide" ) {
            showSlide(event.data.slideId)
        } 
    }

    
    // function killNotes () {
    //     window.presentation = false;
    //     message_broadcast ({
    //         trigger : "terminate"
    //     })
    // }

    // Poorly functioning full screen triggers
    // if (document.addEventListener){
    //     document.addEventListener('fullscreenchange', exitHandler, false);
    //     document.addEventListener('mozfullscreenchange', exitHandler, false);
    //     document.addEventListener('MSFullscreenChange', exitHandler, false);
    //     document.addEventListener('webkitfullscreenchange', exitHandler, false);
    // }

    // function exitHandler(){
    //     if (document.webkitIsFullScreen || document.mozFullScreen || document.msFullscreenElement !== null){
    //         if ( window.presentation ) {
    //             killNotes()
    //         } else {
    //             // openNotes()
    //         }
    //     }
    // }

    async function openFullscreen() {
        var elem = document.getElementById('slideBody')

        if (elem.requestFullscreen) {
            return elem.requestFullscreen();
        } else if (elem.mozRequestFullScreen) { /* Firefox */
            return  elem.mozRequestFullScreen();
        } else if (elem.webkitRequestFullscreen) { /* Chrome, Safari and Opera */
            return elem.webkitRequestFullscreen();
        } else if (elem.msRequestFullscreen) { /* IE/Edge */
            return elem.msRequestFullscreen();
        } else {
            return false;
        }

    }
</script>